.formWrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    >div{
        width: 650px;
       
        background-color: #fff;
        border-radius: 15px;
        div{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 48px;
            }
            p{
                font-size: 12px;
            }
            h1, p{
                color: #737373;
                text-align: center;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;

            input, button{
                width: 477px;
                height: 58px;
                margin-bottom: 27px;
                border-radius: 15px;
                border: 0.5px solid;
            }
            input{
                width: calc(417px - 60px);
                padding: 0 60px;
            }
            button{
                border: none;
                background: #04D361;

                color: #FFFFFF;
                font-size: 24px;
            }
        }
       
        
    }
   
}