.searchHeader {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 224px;

}

.searchHeader h1 {
  font-size: 48px;
  line-height: 56px;
  color: #3A3A3A;
}

.searchHeader div {
  margin-top: 96px;
}

.searchHeader div input, .searchHeader div button {
  height: 71px;
  margin: 0;
  padding: 0;
  border: none;
}

.searchHeader div input {
  padding-left: 29px;
  width: 504px;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  color: #A8A8B3;
}

.searchHeader div input::-webkit-input-placeholder {
  font-size: 20px;
  color: #A8A8B3;
}

.searchHeader div input:-ms-input-placeholder {
  font-size: 20px;
  color: #A8A8B3;
}

.searchHeader div input::-ms-input-placeholder {
  font-size: 20px;
  color: #A8A8B3;
}

.searchHeader div input::placeholder {
  font-size: 20px;
  color: #A8A8B3;
}

.searchHeader div button {
  width: 210px;
  background: #04D361;
  border-radius: 0px 5px 5px 0px;
  font-size: 18px;
  color: #FFFFFF;
}

.cardHolder {
  max-width: 70%;
  margin: 0 auto;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cardHolder::-webkit-scrollbar-thumb {
  background-color: navy;
}

.card {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 24px;
}

.card h1 {
  font-size: 18px;
  color: #A8A8B3;
  margin-right: 54px;
}

.card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card > div h1 {
  font-size: 24px;
  color: #3D3D4D;
}

.card > div p {
  font-weight: 400;
  font-size: 18px;
  color: #A8A8B3;
}
/*# sourceMappingURL=home.css.map */