@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F2FA;
  overflow-x: hidden;
}

a, h1, p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
  max-width: 60%;
  margin: 0 auto;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  margin-right: 16px;
}

nav h1 {
  font-size: 24px;
  color: #737380;
}

nav a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #A8A8B3;
}

nav a:first-child {
  margin-right: 65px;
}

/*# sourceMappingURL=main.css.map */