.profileHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 100px auto;
    width: 80%;
    h1{
        font-size: 36px;
        color: #3D3D4D;
    }
    div{
        display: flex;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h1{
                font-size: 36px;
                color: #3D3D4D;
            }
            p{
                font-size: 20px;
                color: #737380;
            }
        }
        img{
            width: 120px;
            height: 120px;

            margin-right: 24px;

            border-radius: 50%;
        }
       
    }

}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    >div{
        height: 112px;
        width: 80%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;

        margin: 20px auto;

        div{
            margin: auto 0;
            margin-left: 35px;

            h1{
                font-size: 18px;
                font-weight: normal;
                color: #A8A8B3;
            }
            p{
                font-size: 24px;
                color: #3D3D4D;
                font-weight: bold;

            }
        }
        button{
            width: 50px;
            height: 50px;
            margin: auto 20px;

            border: none;
            background: none;
            img{
                width: 15px;
            }
        }
    }
    >button{
        width: 284px;
        height: 50px;
        border: none;
        background: #FFE9E9;
        border-radius: 25px;
        color: #FF7373;
        font-weight: bold;
        margin: 100px 0;
    }
}