.profileHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  width: 80%;
}

.profileHeader h1 {
  font-size: 36px;
  color: #3D3D4D;
}

.profileHeader div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileHeader div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profileHeader div div h1 {
  font-size: 36px;
  color: #3D3D4D;
}

.profileHeader div div p {
  font-size: 20px;
  color: #737380;
}

.profileHeader div img {
  width: 120px;
  height: 120px;
  margin-right: 24px;
  border-radius: 50%;
}

.profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileInfo > div {
  height: 112px;
  width: 80%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.profileInfo > div div {
  margin: auto 0;
  margin-left: 35px;
}

.profileInfo > div div h1 {
  font-size: 18px;
  font-weight: normal;
  color: #A8A8B3;
}

.profileInfo > div div p {
  font-size: 24px;
  color: #3D3D4D;
  font-weight: bold;
}

.profileInfo > div button {
  width: 50px;
  height: 50px;
  margin: auto 20px;
  border: none;
  background: none;
}

.profileInfo > div button img {
  width: 15px;
}

.profileInfo > button {
  width: 284px;
  height: 50px;
  border: none;
  background: #FFE9E9;
  border-radius: 25px;
  color: #FF7373;
  font-weight: bold;
  margin: 100px 0;
}
/*# sourceMappingURL=perfil.css.map */